@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;

}
:root {
    --main-color:#e7580b;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
}
.btn {

    padding: 1.7rem 3rem;
    margin-top: 100px;
    margin-left: 288px;
    background-color: var(--main-color);
    color: #fff;
    font-size: 2rem;
    border-radius: .5rem;
    
}
main {
    overflow: hidden;
}  

/* home section start */

.home {
   background: url(image/banner1.png);
}

.home .content {
    margin-left: 800px;
    align-items: center;
    text-align: center;

}

.home .content .home-title {
    position: absolute;
    width: 525px;
    height: 228px;
    top: 216px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    text-align: right;
}
.home .content p {
    margin-left: 73px;
    width: 456px;
    padding-top: 450px;
    height: 78px;
    margin-right: 5rem;
    font-style: normal;
    font-size: 16px;
    color: #444343;
    text-align: right;
     
    
}
/* home section end */


/* about section start */

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}


.about .image img {
    width: 569px;
    height: 721px;
    margin-top: 130px; 
    

}

.about .content {
    width: 416px;
    height: 400px;
    margin-left: 87px;
    margin-top: 370px;
    margin-bottom: 214px;

}
.about .content h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    margin-bottom: 23px;
 }


 .about .content p {
   color: #444343;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
   line-height: 26px;
   margin-bottom: 16px;

 }

 .about .content ul {
    list-style: none;
 }
 .about .content ul li {
    font-size: 16px;
    color: #444343;
    padding-bottom: 1.2rem;
 }
 .about .content ul li .fa-check {
    color: aqua;
    padding-right: 1rem;
 }

 /* about section end */


 /* plans section start */

.plans .title {
    text-align: center;
    font-size: 40px;
    color: #151414;
    margin-bottom: 5rem;
    
    

}

.plans .box-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 105px;
    align-items: center;
    text-align: center; 
}

.plans .box-container .box {
    flex: 1 1 7rem;
}
.plans .box-container .box h3 {
    font-weight: 700;
    font-size: 30px;
    padding-top: 2.5rem;
}

.plans .box-container .box p {
    color: #737272;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    font-style: normal;
    padding-top: 1.4rem;
}
.plans  .gradient-box {
    margin-top: 10rem;
    width: 1140px;
    height: 300px;
    margin-left: 135px;
    background: linear-gradient(-90deg, #F15B22 0%, rgba(241,91,34,0) 100%),url(image/watch.png);
    border-radius: 8px; 
}
   
.plans  .gradient-box .box {
    width: 459px;
    height: 94px;
    padding-left:70px;
    padding-top: 65px;
}

.plans  .gradient-box .box h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

}

.plans  .gradient-box .box  .button {
    width: 160px;
    height: 64px;
    margin-top: 2rem;
    border-radius: .5rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;;
}

/* plans section end */

/* goals section start */

.goals .heading {
    margin-top: 5rem;
    text-align: center;
    font-size: 40px;
    color: #151414;
    margin-bottom: 5rem;
    
}
.goals .box-container {
        display: flex;
        gap: 10px;
        margin-left: 100px;
        margin-right: 120px;
    }
    


.goals .box-container .box {
    flex: 1 1 10rem;
    border: .1rem solid #666;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, .6);
    border-radius: .5rem;
    padding: 30px;
}

.goals .box-container .box h1 {
    padding-top: 3rem;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
}

.goals .box-container .box p {
    color: #666;
    font-size: 20px;
    padding-top: 17px;
}
/* goals section end */










/* footer section start */

footer {
    position: absolute;
    background:#151414; 
    width: 1600px;
    height: 577px;
    margin-top: 12rem;
}

footer .box-container {
    position: absolute;
    margin-left: 20rem;
    align-items: center;
    width: 485px;
    height: 317px;
    margin-top: 11rem;
    
}


footer .box-container .box-1 h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #F8F8F8;;
    margin-bottom: 40px;
}

footer .box-container .box-1  p {
    margin-top: 1px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    
}
footer .box-container .box-2 {
    margin-top: 10px;
    width: 186px;
    height: 146px;
    

}

footer .box-container .box-2 .email {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 30px;
    
}
footer .box-container .box-2 .number {
   color: #FFFFFF; 
   font-size: 16px;
   margin-top: 25px;
}

footer .box-container .box-2 .image {
    margin-top: 35px;
}

footer .box-container .box-2 .image img {
    padding-right: 10px;
}
footer .box-container-1 {
    width: 325px;
    height: 204px;
    margin-left: 107rem;
    margin-top: 15rem;
}

footer .box-container-1 .box-3 h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    font-style: normal;
    margin-bottom: 31px;

}

footer .box-container-1 .box-3 .email {
    border: .2rem solid #FFFFFF;
    background: #151414;
    width: 325px;
    height: 64px;
    border-radius: .6rem;
    
}

footer .box-container-1 .box-3 .email::placeholder {
    color: #FFFFFF;
    padding-left: 20px;
}
footer .box-container-1 .box-3 .subscribe {
    color: #F15B22;
    width: 170.11px;
    height: 64px;
    border-radius: .7rem;
    margin-top: 20px;
    font-size: 20px;
}

/* footer section end */